In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('dataset/ckplus_dataset.csv')

In [12]:
df_ha = df[df['peak_emotion'] == 'happiness']
df_su = df[df['peak_emotion'] == 'surprise']
df_an = df[df['peak_emotion'] == 'anger']
df_sa = df[df['peak_emotion'] == 'sadness']

In [13]:
ha_subjects = set(df_ha['subject_id'])
su_subjects = set(df_su['subject_id'])
an_subjects = set(df_an['subject_id'])
sa_subjects = set(df_sa['subject_id'])

In [14]:
len(ha_subjects), len(su_subjects), len(an_subjects), len(sa_subjects)

(90, 92, 58, 67)

In [15]:
all_subjects = ha_subjects & su_subjects & an_subjects & sa_subjects

In [21]:
len(all_subjects)

26

In [17]:
df_ha = df_ha[df_ha['subject_id'].isin(all_subjects)]
df_su = df_su[df_su['subject_id'].isin(all_subjects)]
df_an = df_an[df_an['subject_id'].isin(all_subjects)]
df_sa = df_sa[df_sa['subject_id'].isin(all_subjects)]

In [18]:
df_sa[['subject_id', 'session_id']].drop_duplicates()

     subject_id  session_id
39         S010           3
123        S011           2
242        S014           2
404        S022           4
491        S026           2
626        S032           2
1126       S042           2
1375       S045           2
2004       S055           2
2926       S066           1
2969       S066           4
3348       S071           2
3453       S072           1
3470       S072           2
3486       S072           3
3779       S075           1
3806       S075           3
3810       S075           4
4433       S081           2
4457       S081           3
5811       S100           3
6470       S106           2
6884       S110           3
6897       S110           4
6906       S110           5
7167       S113           2
7186       S113           3
7224       S113           5
7658       S117           2
7689       S117           4
7700       S117           5
7845       S119           2
7893       S119           4
8558       S127           3
8694       S129           1
8835       S130           2
8893       S130           4
8992       S130           9
9170       S132           1
9181       S132           2
9401       S133           4
9653       S136           3

In [19]:
df_ha.to_csv('happiness.csv', index=False)
df_su.to_csv('surprise.csv', index=False)
df_an.to_csv('anger.csv', index=False)
df_sa.to_csv('sadness.csv', index=False)

In [20]:
print('Happiness:', len(df_ha['subject_id'].unique()))
print("Surprise:", len(df_su["subject_id"].unique()))
print("Anger:", len(df_an["subject_id"].unique()))
print("Sadness:", len(df_sa["subject_id"].unique()))

Happiness: 26
Surprise: 26
Anger: 26
Sadness: 26