In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/disgust_all.csv')

In [3]:
df

,subject_id,session_id,image_id,peak_emotion,ckplus_labelled,landmark_1,landmark_2,landmark_3,landmark_4,landmark_5,...,landmark_59,landmark_60,landmark_61,landmark_62,landmark_63,landmark_64,landmark_65,landmark_66,landmark_67,landmark_68
0,S005,1,1,disgust,1,217.79878 217.08728,216.89078 254.86311,223.67206 292.07462,238.23885 326.79248,254.94789 360.61587,...,361.44337 358.76781,343.08983 353.52445,341.63086 335.00864,353.49249 334.72611,377.56554 336.91333,402.31187 331.58481,414.70373 331.84948,401.78216 332.11416,377.03251 337.44653,353.00775 335.29117
1,S005,1,2,disgust,1,217.80144 217.0217,216.8729 254.80347,223.6253 291.9939,238.17247 326.72638,254.86141 360.56799,...,361.30286 358.37938,342.80716 353.53176,341.74356 334.84332,353.61517 334.56168,377.68438 336.91832,402.29602 331.34791,414.63063 331.64858,401.76624 331.94925,377.12854 337.33623,353.1211 335.12495
2,S005,1,3,disgust,1,217.97353 216.9571,217.04082 254.75268,223.77078 291.89137,238.31264 326.63989,254.9943 360.50293,...,361.32828 357.46145,342.55037 353.39805,342.24264 334.38489,354.12671 334.10493,378.1748 336.75513,402.5068 330.71408,414.72275 331.08425,401.98048 331.45443,377.58469 336.94216,353.61954 334.66485
3,S005,1,4,disgust,1,217.85829 217.08307,216.95013 254.89032,223.66625 291.91036,238.22163 326.6629,254.91152 360.53874,...,361.03148 355.72129,341.82958 352.84636,342.65919 333.43422,354.53522 333.15745,378.47281 336.17126,402.31009 329.50779,414.30147 329.97955,401.80379 330.45132,377.87439 335.97786,354.02932 333.71099
4,S005,1,5,disgust,1,217.79715 217.09126,216.88936 254.86743,223.55601 291.72144,238.08439 326.44927,254.73974 360.31244,...,360.55646 353.5565,341.05764 351.54737,342.76509 332.02011,354.58819 331.74747,378.29345 334.94528,401.63759 328.00806,413.3741 328.54977,401.16935 329.09147,377.76074 334.41297,354.11716 332.29276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,S136,4,11,disgust,0,196.59048 185.05123,198.9207 213.40594,203.26124 241.50161,208.71764 269.2853,218.88147 295.73118,...,306.98743 297.14799,295.36723 289.46795,295.09907 280.48397,305.32116 270.16012,319.595 269.66038,332.86484 269.71253,342.02783 279.08218,331.03428 283.07511,319.96605 286.29834,307.45827 283.40566
1334,S136,4,12,disgust,0,196.67196 185.03553,198.97436 213.41162,203.29115 241.54253,208.72337 269.3512,218.86211 295.83987,...,307.02219 297.78017,295.48151 289.98011,295.18623 280.86842,305.30244 270.22028,319.62309 269.66776,332.90897 269.82202,341.91338 279.48993,331.00027 283.69472,319.991 286.95219,307.51238 283.97511
1335,S136,4,13,disgust,0,196.79117 185.22142,199.08006 213.61125,203.38507 241.76022,208.80573 269.58419,218.93414 296.09391,...,307.13196 298.21157,295.62852 290.37123,295.38752 281.22715,305.42677 270.43793,319.7325 269.86114,333.00305 270.06145,341.92147 279.86144,331.05881 284.14912,320.09559 287.41709,307.665 284.40849
1336,S136,4,14,disgust,0,196.91455 185.53885,199.22105 213.94138,203.54796 242.1185,208.98879 269.9541,219.13127 296.49143,...,307.3638 299.09952,295.8548 291.13059,295.15605 281.77101,305.37045 270.8379,319.94839 270.24108,333.39071 270.46238,342.37741 280.36698,331.42939 284.80981,320.33988 288.13106,307.66676 285.05886
1337,S136,4,15,disgust,0,196.98781 185.75519,199.27848 214.18914,203.5938 242.40844,209.02325 270.27748,219.15569 296.8611,...,307.47269 299.83275,295.94535 291.77373,294.93736 282.27595,305.31787 271.30464,320.09337 270.72114,333.66571 270.95539,342.72561 280.89845,331.68747 285.40213,320.48392 288.74373,307.62631 285.62357

In [4]:
# get all unique subject_id, session_id, ckplus_labelled tuples and only keep these fields
df1 = df[['subject_id', 'session_id', 'ckplus_labelled']].drop_duplicates()

In [5]:
df1

     subject_id  session_id  ckplus_labelled
0          S005           1                1
11         S010           5                0
27         S011           5                1
47         S014           4                0
66         S022           6                1
...         ...         ...              ...
1265       S130          12                1
1276       S131          10                1
1294       S132           5                1
1310       S134           8                1
1323       S136           4                0

[77 rows x 3 columns]

In [6]:
counts = df.groupby(["subject_id", "session_id"]).size().reset_index(name='count')['count'].values.tolist()

In [7]:
# append counts as a column to df1
df1['count'] = counts

In [8]:
df1.head(15)

    subject_id  session_id  ckplus_labelled  count
0         S005           1                1     11
11        S010           5                0     16
27        S011           5                1     20
47        S014           4                0     19
66        S022           6                1     17
83        S026           4                0     12
95        S032           5                1     16
111       S034           4                0     37
148       S035           5                1     19
167       S037           4                0     66
233       S042           5                0     19
252       S044           5                0     29
281       S044           6                1     19
300       S045           4                1     15
315       S046           4                1     17

In [9]:
# get all unique subject_id as a list
subject_ids = df1['subject_id'].unique()

In [10]:
len(subject_ids)

72

In [11]:
keep = []
for subject_id in subject_ids:
    df2 = df1[df1['subject_id'] == subject_id]

    print(subject_id)
    print(df2.values)

    keeping = None
    for (subject_id, session_id, ckplus_labelled, count) in df2.values:
        if ckplus_labelled == 1:
            keeping = (subject_id, session_id)
            break

    if keeping is None:
        (subject_id, session_id, ckplus_labelled, count) = df2[df2['count'] == df2['count'].max()].values[0]
        keeping = (subject_id, session_id)

    print(keeping)
    keep.append(keeping)
    print()

S005
[['S005' 1 1 11]]
('S005', 1)

S010
[['S010' 5 0 16]]
('S010', 5)

S011
[['S011' 5 1 20]]
('S011', 5)

S014
[['S014' 4 0 19]]
('S014', 4)

S022
[['S022' 6 1 17]]
('S022', 6)

S026
[['S026' 4 0 12]]
('S026', 4)

S032
[['S032' 5 1 16]]
('S032', 5)

S034
[['S034' 4 0 37]]
('S034', 4)

S035
[['S035' 5 1 19]]
('S035', 5)

S037
[['S037' 4 0 66]]
('S037', 4)

S042
[['S042' 5 0 19]]
('S042', 5)

S044
[['S044' 5 0 29]
 ['S044' 6 1 19]]
('S044', 6)

S045
[['S045' 4 1 15]]
('S045', 4)

S046
[['S046' 4 1 17]]
('S046', 4)

S050
[['S050' 3 0 21]]
('S050', 3)

S051
[['S051' 3 1 18]]
('S051', 3)

S052
[['S052' 6 1 13]]
('S052', 6)

S053
[['S053' 3 0 65]]
('S053', 3)

S054
[['S054' 4 1 24]]
('S054', 4)

S055
[['S055' 3 1 9]]
('S055', 3)

S056
[['S056' 2 1 10]]
('S056', 2)

S057
[['S057' 3 1 15]
 ['S057' 5 0 35]]
('S057', 3)

S058
[['S058' 6 1 18]]
('S058', 6)

S059
[['S059' 3 0 36]]
('S059', 3)

S060
[['S060' 5 1 21]]
('S060', 5)

S061
[['S061' 4 1 22]]
('S061', 4)

S062
[['S062' 3 0 24]
 ['S062' 5 1 29]]
('S062', 5)

S065
[['S065' 5 1 8]]
('S065', 5)

S067
[['S067' 6 1 11]]
('S067', 6)

S068
[['S068' 5 1 21]]
('S068', 5)

S069
[['S069' 1 0 18]
 ['S069' 3 1 11]]
('S069', 3)

S070
[['S070' 5 1 16]]
('S070', 5)

S071
[['S071' 6 1 14]]
('S071', 6)

S073
[['S073' 6 1 14]]
('S073', 6)

S074
[['S074' 4 1 18]]
('S074', 4)

S075
[['S075' 5 1 12]]
('S075', 5)

S076
[['S076' 5 1 12]]
('S076', 5)

S077
[['S077' 6 1 14]]
('S077', 6)

S078
[['S078' 7 1 13]]
('S078', 7)

S079
[['S079' 2 1 12]]
('S079', 2)

S080
[['S080' 8 1 9]]
('S080', 8)

S081
[['S081' 8 1 11]]
('S081', 8)

S082
[['S082' 7 1 10]]
('S082', 7)

S085
[['S085' 4 1 17]]
('S085', 4)

S087
[['S087' 4 1 12]]
('S087', 4)

S088
[['S088' 4 1 20]]
('S088', 4)

S090
[['S090' 6 1 11]]
('S090', 6)

S093
[['S093' 3 0 12]]
('S093', 3)

S095
[['S095' 6 1 13]]
('S095', 6)

S096
[['S096' 3 1 12]]
('S096', 3)

S097
[['S097' 4 1 30]]
('S097', 4)

S098
[['S098' 3 1 13]]
('S098', 3)

S099
[['S099' 7 1 12]]
('S099', 7)

S102
[['S102' 9 1 15]]
('S102', 9)

S105
[['S105' 8 1 10]]
('S105', 8)

S106
[['S106' 4 1 8]]
('S106', 4)

S107
[['S107' 5 1 11]]
('S107', 5)

S108
[['S108' 6 1 20]]
('S108', 6)

S109
[['S109' 4 0 13]
 ['S109' 5 1 14]]
('S109', 5)

S111
[['S111' 7 1 14]]
('S111', 7)

S116
[['S116' 6 1 7]]
('S116', 6)

S118
[['S118' 6 0 15]]
('S118', 6)

S121
[['S121' 3 0 18]]
('S121', 3)

S124
[['S124' 6 1 11]]
('S124', 6)

S125
[['S125' 8 1 10]]
('S125', 8)

S128
[['S128' 4 1 13]]
('S128', 4)

S129
[['S129' 11 1 18]]
('S129', 11)

S130
[['S130' 12 1 11]]
('S130', 12)

S131
[['S131' 10 1 18]]
('S131', 10)

S132
[['S132' 5 1 16]]
('S132', 5)

S134
[['S134' 8 1 13]]
('S134', 8)

S136
[['S136' 4 0 15]]
('S136', 4)

In [12]:
keep

[('S005', 1),
 ('S010', 5),
 ('S011', 5),
 ('S014', 4),
 ('S022', 6),
 ('S026', 4),
 ('S032', 5),
 ('S034', 4),
 ('S035', 5),
 ('S037', 4),
 ('S042', 5),
 ('S044', 6),
 ('S045', 4),
 ('S046', 4),
 ('S050', 3),
 ('S051', 3),
 ('S052', 6),
 ('S053', 3),
 ('S054', 4),
 ('S055', 3),
 ('S056', 2),
 ('S057', 3),
 ('S058', 6),
 ('S059', 3),
 ('S060', 5),
 ('S061', 4),
 ('S062', 5),
 ('S065', 5),
 ('S067', 6),
 ('S068', 5),
 ('S069', 3),
 ('S070', 5),
 ('S071', 6),
 ('S073', 6),
 ('S074', 4),
 ('S075', 5),
 ('S076', 5),
 ('S077', 6),
 ('S078', 7),
 ('S079', 2),
 ('S080', 8),
 ('S081', 8),
 ('S082', 7),
 ('S085', 4),
 ('S087', 4),
 ('S088', 4),
 ('S090', 6),
 ('S093', 3),
 ('S095', 6),
 ('S096', 3),
 ('S097', 4),
 ('S098', 3),
 ('S099', 7),
 ('S102', 9),
 ('S105', 8),
 ('S106', 4),
 ('S107', 5),
 ('S108', 6),
 ('S109', 5),
 ('S111', 7),
 ('S116', 6),
 ('S118', 6),
 ('S121', 3),
 ('S124', 6),
 ('S125', 8),
 ('S128', 4),
 ('S129', 11),
 ('S130', 12),
 ('S131', 10),
 ('S132', 5),
 ('S134', 8),
 ('S136', 4)]

In [13]:
# from df keep only the rows that are in keep
ndf = df[df[['subject_id', 'session_id']].apply(tuple, axis=1).isin(keep)]

In [14]:
ndf

,subject_id,session_id,image_id,peak_emotion,ckplus_labelled,landmark_1,landmark_2,landmark_3,landmark_4,landmark_5,...,landmark_59,landmark_60,landmark_61,landmark_62,landmark_63,landmark_64,landmark_65,landmark_66,landmark_67,landmark_68
0,S005,1,1,disgust,1,217.79878 217.08728,216.89078 254.86311,223.67206 292.07462,238.23885 326.79248,254.94789 360.61587,...,361.44337 358.76781,343.08983 353.52445,341.63086 335.00864,353.49249 334.72611,377.56554 336.91333,402.31187 331.58481,414.70373 331.84948,401.78216 332.11416,377.03251 337.44653,353.00775 335.29117
1,S005,1,2,disgust,1,217.80144 217.0217,216.8729 254.80347,223.6253 291.9939,238.17247 326.72638,254.86141 360.56799,...,361.30286 358.37938,342.80716 353.53176,341.74356 334.84332,353.61517 334.56168,377.68438 336.91832,402.29602 331.34791,414.63063 331.64858,401.76624 331.94925,377.12854 337.33623,353.1211 335.12495
2,S005,1,3,disgust,1,217.97353 216.9571,217.04082 254.75268,223.77078 291.89137,238.31264 326.63989,254.9943 360.50293,...,361.32828 357.46145,342.55037 353.39805,342.24264 334.38489,354.12671 334.10493,378.1748 336.75513,402.5068 330.71408,414.72275 331.08425,401.98048 331.45443,377.58469 336.94216,353.61954 334.66485
3,S005,1,4,disgust,1,217.85829 217.08307,216.95013 254.89032,223.66625 291.91036,238.22163 326.6629,254.91152 360.53874,...,361.03148 355.72129,341.82958 352.84636,342.65919 333.43422,354.53522 333.15745,378.47281 336.17126,402.31009 329.50779,414.30147 329.97955,401.80379 330.45132,377.87439 335.97786,354.02932 333.71099
4,S005,1,5,disgust,1,217.79715 217.09126,216.88936 254.86743,223.55601 291.72144,238.08439 326.44927,254.73974 360.31244,...,360.55646 353.5565,341.05764 351.54737,342.76509 332.02011,354.58819 331.74747,378.29345 334.94528,401.63759 328.00806,413.3741 328.54977,401.16935 329.09147,377.76074 334.41297,354.11716 332.29276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,S136,4,11,disgust,0,196.59048 185.05123,198.9207 213.40594,203.26124 241.50161,208.71764 269.2853,218.88147 295.73118,...,306.98743 297.14799,295.36723 289.46795,295.09907 280.48397,305.32116 270.16012,319.595 269.66038,332.86484 269.71253,342.02783 279.08218,331.03428 283.07511,319.96605 286.29834,307.45827 283.40566
1334,S136,4,12,disgust,0,196.67196 185.03553,198.97436 213.41162,203.29115 241.54253,208.72337 269.3512,218.86211 295.83987,...,307.02219 297.78017,295.48151 289.98011,295.18623 280.86842,305.30244 270.22028,319.62309 269.66776,332.90897 269.82202,341.91338 279.48993,331.00027 283.69472,319.991 286.95219,307.51238 283.97511
1335,S136,4,13,disgust,0,196.79117 185.22142,199.08006 213.61125,203.38507 241.76022,208.80573 269.58419,218.93414 296.09391,...,307.13196 298.21157,295.62852 290.37123,295.38752 281.22715,305.42677 270.43793,319.7325 269.86114,333.00305 270.06145,341.92147 279.86144,331.05881 284.14912,320.09559 287.41709,307.665 284.40849
1336,S136,4,14,disgust,0,196.91455 185.53885,199.22105 213.94138,203.54796 242.1185,208.98879 269.9541,219.13127 296.49143,...,307.3638 299.09952,295.8548 291.13059,295.15605 281.77101,305.37045 270.8379,319.94839 270.24108,333.39071 270.46238,342.37741 280.36698,331.42939 284.80981,320.33988 288.13106,307.66676 285.05886
1337,S136,4,15,disgust,0,196.98781 185.75519,199.27848 214.18914,203.5938 242.40844,209.02325 270.27748,219.15569 296.8611,...,307.47269 299.83275,295.94535 291.77373,294.93736 282.27595,305.31787 271.30464,320.09337 270.72114,333.66571 270.95539,342.72561 280.89845,331.68747 285.40213,320.48392 288.74373,307.62631 285.62357

In [15]:
ndf.to_csv("disgust_filtered.csv", index=False)